@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 48px;
  color: white;
}
h2 {
  font-size: 24px;
}
p {
  font-size: 18px;
}
$myblack: #111;
$mywhite: rgb(194, 194, 194);
$myred: rgb(204, 7, 7);
body {
  font-size: 2vmax;
  background-color: black;
  // overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
//nav
.nav-box {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-item {
  flex: 1;
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 4vmin;
  background: #111;
  span {
    letter-spacing: 2px;
    color: red;
  }
}
.nav-links {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  height: inherit;
  transition: all 0.2s ease;
}
.burger {
  display: none;
  flex-direction: column;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  .line {
    height: 5px;
    width: 25px;
    background-color: rgb(226, 226, 226);
  }
}
.links {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 2.5vmin;
  background-color: red;
  align-items: center;
  justify-content: center;
}
.links:hover {
  background-color: $myblack;
  color: $myred;
}
//nav
// changeing images
.ccontainer {
  // border: 1px solid white;
  width: 90vw;
  height: 92vh;
  position: relative;
  // border: 1px solid #fff;
  margin: 0 auto;
  overflow: hidden;
}
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  // border: 1px solid red;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.buttons {
  position: absolute;
  padding: 0 10px;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Nextpic,
#Prevpic {
  background: transparent;
  color: rgb(177, 177, 177);
  font-size: 4rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.slider-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 2rem;
  width: 20rem;
  height: 20rem;
  color: white;
  z-index: 1000;
  position: absolute;
  top: 50%;
  right: 2em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

//cahngeing image
// album sec css

.albums-holder {
  height: 50vh;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sec {
  height: 70vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h1 {
    flex: 1;
  }
  .albums-holder {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    p {
      padding: 0 10px;
    }
  }
}
.album {
  width: 20vw;
  // height: 100%;
  color: white;
  cursor: pointer;

  P,
  h3 {
    display: none;
  }
}

.album:hover {
  // background-color: rgba(255, 255, 255, 0.1);
  h2 {
    color: $myred;
  }
  img {
    transition: all 0.1s ease-in-out;
    opacity: 0.1;
  }
  figure {
    position: relative;
  }
  h3 {
    display: block;
    position: absolute;
    top: 10%;
    padding: 0 0 0 10px;
  }
  p {
    display: block;
    position: absolute;
    top: 30%;
  }
}
.alpics {
  width: 100%;
  height: 20%;
  border-radius: 5px;
}
//footer
footer {
  color: white;
  width: 100%;
  height: 50vh;
  border-top: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .madeby {
    display: flex;
    justify-content: space-around;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    h3 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p::first-letter {
      font-size: 38px;
      color: red;
    }
    form {
      flex: 1;
    }
  }
}
//fotter
// Form css
.form {
  width: 100%;
  height: 92vh;
  background-color: $mywhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
}
.inp {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 2rem;
  width: 35vw;
  background-color: $mywhite;
  color: #111;
  font-size: 1rem;
}
.log {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .log-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 2;
    background-color: red;
    width: 100%;
  }
  .box-btn {
    flex: 1;
  }
}
.or {
  position: relative;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  h1 {
    z-index: 300;
    color: $mywhite;
  }
}
.or::after {
  content: "";
  background-color: red;
  border: 10px solid $myblack;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0%;
}
.or::before {
  content: "";
  border: 10px solid red;
  background-color: $myblack;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.sgin {
  .fname {
    display: flex;
    justify-content: space-around;
    width: 100%;
    input {
      width: 40%;
    }
  }
  h1 {
    font-size: 2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $myblack;
  width: 100%;
  height: 100%;
  flex: 2;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  outline: none;
  background-color: $myblack;
  color: white;
  padding: 10px;
}
.sginup-btn {
  background-color: red;
  color: white;
}
//form css
footer {
  height: 30vh;
}
.contact {
  display: flex;
  // background-color: blue;
  h3 {
    flex: 1;
  }

  .contact-form {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: space-around;
    // background-color: green;
    width: 100%;
    .frow {
      width: 80%;
      input {
        width: 70%;

        color: red;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 20px;
        outline: none;
      }
      input::placeholder {
        // color: rgb(206, 0, 0);
        font-size: 1em;
      }
    }
  }
}
